hellojobhomework/src/main/wsdl/CustomerInformation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	name="CustomerInformation"
	targetNamespace="http://www.example.org/CustomerInformation/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.example.org/CustomerInformation/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xsd:schema
			targetNamespace="http://www.example.org/CustomerInformation/">
			<xsd:element name="getCustomerDetails">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getCustomerDetails"
							type="tns:GetCustomerDetails1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="getCustomerDetailsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="getCustomerDetailsResponse"
							type="tns:GetCustomerDetailsResponse1" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType name="GetCustomerDetails1">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="GetCustomerDetailsResponse1">
				<xsd:sequence>
					<xsd:element name="firstName" type="xsd:string"></xsd:element>
					<xsd:element name="lastName" type="xsd:string"></xsd:element>
					<xsd:element name="contactEmail" type="xsd:string"></xsd:element>
					<xsd:element name="contactPhone" type="xsd:string"></xsd:element>
					<xsd:element name="age" type="xsd:string"></xsd:element>
					<xsd:element name="martialStatus" type="xsd:string"></xsd:element>
					<xsd:element name="address" type="xsd:string"></xsd:element>
					<xsd:element name="city" type="xsd:string"></xsd:element>
					<!-- <xsd:element name="Customer1" type="upSchema:Customer1" /> -->

				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="getCustomerDetailsFault">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="ExceptionMessage" type="xsd:string">
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<xsd:complexType
				name="TransformedCustomerDetailsResponse">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"></xsd:element>
					<xsd:element name="phone" type="xsd:string"></xsd:element>
					<xsd:element name="fullAddress" type="xsd:string"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getCustomerDetailsRequest">
		<wsdl:part element="tns:getCustomerDetails"
			name="getCustomerDetailsParameters" />
	</wsdl:message>
	<wsdl:message name="getCustomerDetailsResponse">
		<wsdl:part element="tns:getCustomerDetailsResponse"
			name="getCustomerDetailsResult" />
	</wsdl:message>
	<wsdl:message name="getCustomerDetailsFault">
		<wsdl:part name="getCustomerDetailsFault"
			element="tns:getCustomerDetailsFault"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CustomerInformationInterface">
		<wsdl:operation name="getCustomerDetails">
			<wsdl:input message="tns:getCustomerDetailsRequest" />
			<wsdl:output message="tns:getCustomerDetailsResponse" />
			<wsdl:fault name="fault"
				message="tns:getCustomerDetailsFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CustomerInformationBinding"
		type="tns:CustomerInformationInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getCustomerDetails">
			<!-- <soap:operation soapAction="http://www.example.org/CustomerInformation/getCustomerDetails"/> -->
			<soap:operation soapAction="" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CustomerInformationService">
		<wsdl:port binding="tns:CustomerInformationBinding"
			name="CustomerInformationSOAP">
			<soap:address
				location="http://localhost:8080/hellojobhomework/service/CustomerInformationService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>